.@{timePrefixClass}-panel {
  z-index: 1070;
  width: 170px;
  position: absolute;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &-selected-value {
    height: @trigger-height-large;
    font-size: 14px;
    line-height: @trigger-height-large - 1;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid @split-line-color;
    background: @normal-alpha-9;
  }

  &-inner {
    display: inline-block;
    position: relative;
    outline: none;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px #ccc;
    background-clip: padding-box;
    border: 1px solid #ccc;
    line-height: 1.5;
  }
}

.@{__calendarPrefixCls}-small {
  .@{timePrefixClass}-panel {
    &-selected-value  {
      height: @trigger-height-small;
      line-height: @trigger-height-small - 1;
    }
    &-select li {
      height: 28px;
    }
  }
}

.@{__calendarPrefixCls}-middle {
  .@{timePrefixClass}-panel {
    &-selected-value  {
      height: @trigger-height-middle;
      line-height: @trigger-height-middle - 1;
    }
  }
}

