.@{timePrefixClass}-pmam-item {
  width: 60px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s @transition-ease;
  &:hover {
    background: @bg-hover-color;
  }
  &-active {
    color: @brand-primary;
  }
}