.@{__calendarPrefixCls} {
  position: relative;
  outline: none;
  border: 1px solid #ccc;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: @box-shadow-1;
  background-clip: padding-box;
  border: 1px solid #ccc;
  line-height: 1.5;
  &-date-main {
    white-space: nowrap;
  }
  &-date-panel {
    width: 300px;
    position: relative;
    outline: none;
    float: left;
  }
  &-week-number {
    width: 286px;
    &-cell {
      text-align: center;
    }
  }
  &-header {
    padding: 0 10px;
    height: @trigger-height-large;
    line-height: 30px;
    background-color: @normal-alpha-9;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid @split-line-color;
    >a {
      font-weight: bold;
      display: inline-block;
      padding: 0px 5px;
      line-height: 35px;
      text-align: center;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    .@{__calendarPrefixCls}-prev-month-btn {
      position: absolute;
      left: 25px;
      &:after {
        content: '\e65c';
      }
    }
    .@{__calendarPrefixCls}-next-month-btn {
      position: absolute;
      right: 25px;
      &:after {
        content: '\e65b';
      }
    }
  }
  &-ym-select,
  &-my-select {
    line-height: 35px;
    display: inline-block;
  }
  &-year-select,
  &-month-select,
  &-day-select {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 8px;
    border-radius: @global-border-radius;
    color: @dark-alpha-3;
    &:hover {
      cursor: pointer;
      color: @dark-alpha-2;
      .@{__selectPrefixCls}-arrow b {
        border-color: @normal-alpha-3 transparent transparent transparent;
      }
    }
  }
  &-year-select,
  &-month-select {
    padding: 0;
    margin-right: 6px;
    margin-top: -1px; // for firefox
    .@{__selectPrefixCls}-selection {
      border: none;
      height: 28px;
      background: transparent;
      .@{__selectPrefixCls}-selection__rendered {
        padding: 0;
        margin: 0;
        line-height: 28px;
      }
      .@{__selectPrefixCls}-selection-selected-value {
        transition: color 0.15s @transition-ease, background-color 0.15s @transition-ease;
        padding-right: 25px;
      }
    } // &.@{__selectPrefixCls}-open {
    //   border: 1px solid @border-color;
    // }
    .@{__selectPrefixCls}-arrow {
      height: 28px;
    }
  }
  &-year-select {
    width: 75px;
    &.@{__calendarPrefixCls}-cn-select {
      width: 75px;
    }
    .@{__selectPrefixCls}-selection-selected-value {
      left: 7px;
    }
  }
  &-month-select {
    width: 70px;
    &.@{__calendarPrefixCls}-cn-select {
      width: 70px;
    }
    .@{__selectPrefixCls}-selection-selected-value {
      left: 12px;
    }
  }
  &-year-select-dropdown,
  &-month-select-dropdown {
    &.@{__selectPrefixCls}-dropdown {
      .@{__selectPrefixCls}-dropdown-menu-item {
        padding: 0 10px;
      }
    }
  }
  &-prev-month-btn,
  &-next-month-btn,
  &-prev-year-btn,
  &-next-year-btn {
    position: absolute;
    top: 5px;
    cursor: pointer;
    color: @normal-alpha-4;
    width: 24px;
    height: 24px;
    border-radius: @global-border-radius;
    font-size: 16px;
    line-height: 24px;
    text-indent: -999em;
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      font-family: 'uxcore';
      font-size: 16px;
      text-indent: 0;
    }
    &:hover {
      color: @normal-alpha-3;
    }
  }
  &-next-year-btn {
    right: 0; // display: none;
    &:after {
      content: '\e65f';
    }
  }
  &-prev-year-btn {
    left: 0; // display: none;
    &:after {
      content: '\e65e';
    }
  }
  &-calendar-body {
    padding: 9px 10px 10px;
  }
  table {
    border-collapse: collapse;
    max-width: 282px;
    margin: 10px 9px;
    background-color: transparent;
    width: 282px;
  }
  table,
  td,
  th,
  td {
    border: none;
  }
  &-calendar-table {
    border-spacing: 0;
    margin-bottom: 0;
  }
  &-column-header {
    line-height: 18px;
    padding: 11px 0;
    width: 33px;
    text-align: center;
    .@{__calendarPrefixCls}-column-header-inner {
      display: block;
      font-weight: normal;
      color: @normal-alpha-4;
      &.weekend {
        color: @brand-primary;
      }
    }
  }
  &-week-number-header {
    .@{__calendarPrefixCls}-column-header-inner {
      display: none;
    }
  }
  &-cell {
    padding: 4px 0;
  }
  &-date {
    display: block;
    margin: 0 auto;
    color: @dark-alpha-2;
    border-radius: @input-border-radius;
    transition: all 0.15s @transition-ease;
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    &:hover {
      background: @brand-primary-alpha-7;
      cursor: pointer;
    }
    &.weekend {
      color: @brand-primary;
    }
  }
  &-today .@{__calendarPrefixCls}-date {
    border: 1px solid @brand-primary;
    color: @brand-primary;
  }
  &-selected-day .@{__calendarPrefixCls}-date {
    background: @brand-primary;
    color: #fff;
  }
  &-disabled-cell .@{__calendarPrefixCls}-date {
    cursor: not-allowed;
    color: #bcbcbc;
    background: #f3f3f3;
    border-radius: 0;
    width: auto;
    &:hover {
      background: #f3f3f3;
    }
  }
  &-disabled-cell-first-of-row .@{__calendarPrefixCls}-date {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &-disabled-cell-last-of-row .@{__calendarPrefixCls}-date {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &-last-month-cell .@{__calendarPrefixCls}-date,
  &-next-month-btn-day .@{__calendarPrefixCls}-date {
    color: @text-disabled-color;
  }
  &-footer {
    border-top: 1px solid @split-line-color;
    padding: 8px 0;
    text-align: center;
    position: relative;
    .@{__calendarTimePickerPrefixCls} {
      width: 90px;
      &-input {
        height: 24px;
      }
    }
  }
  &-footer-btn {
    margin-top: 2px;
  }
  &-today-btn,
  &-ok-btn,
  &-time-picker-btn {
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    color: @brand-primary;
    border-radius: @global-border-radius;
    &:hover {
      cursor: pointer;
      color: @brand-primary;
      background: @brand-primary-lighter;
    }
    &-disabled {
      color: #bbb;
      &:hover {
        color: #bbb;
      }
    }
  }
}


.@{__calendarPrefixCls}-middle {
  .@{__calendarPrefixCls}-header {
    height: @trigger-height-middle;
    line-height: @trigger-height-middle - 1;
  }
  .@{__calendarPrefixCls}-ym-select,
  .@{__calendarPrefixCls}-my-select {
    line-height: @trigger-height-middle - 1;
  }
  .@{__calendarPrefixCls}-prev-month-btn,
  .@{__calendarPrefixCls}-next-month-btn,
  .@{__calendarPrefixCls}-prev-year-btn,
  .@{__calendarPrefixCls}-next-year-btn {
    top: (@trigger-height-middle - 26) / 2;
  }
  .@{__calendarPrefixCls}-cell {
    padding: 3px 0;
  } 
  .@{__calendarPrefixCls}-date-panel {
    width: 288px;
  }
  .@{__calendarPrefixCls}-table {
    width: 266px;
    margin: 9px 11px;
  }
  .@{__calendarPrefixCls}-column-header {
    padding: 10px 0;
  }
}

.@{__calendarPrefixCls}-small {
  .@{__calendarPrefixCls}-header {
    height: @trigger-height-small;
    line-height: @trigger-height-small - 1;
  }
  .@{__calendarPrefixCls}-ym-select,
  .@{__calendarPrefixCls}-my-select {
    line-height: @trigger-height-small - 1;
  }
  .@{__calendarPrefixCls}-prev-month-btn,
  .@{__calendarPrefixCls}-next-month-btn,
  .@{__calendarPrefixCls}-prev-year-btn,
  .@{__calendarPrefixCls}-next-year-btn {
    top: (@trigger-height-small - 26) / 2;
  }
  .@{__calendarPrefixCls}-date {
    width: 28px;
    height: 28px;
    line-height: 26px;
  }
  .@{__calendarPrefixCls}-date-panel {
    width: 268px;
  }
  .@{__calendarPrefixCls}-table {
    width: 252px;
    margin: 9px 8px;
  }
  .@{__calendarPrefixCls}-column-header {
    padding: 9px 0;
  }
}