.@{__calendarPrefixCls}-decade-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.@{__calendarPrefixCls}-decade-panel-hidden {
  display: none;
}

.@{__calendarPrefixCls}-decade-panel-header {
  padding: 0 24px;
  background-color: @normal-alpha-9;
  height: 36px;
  line-height: 35px;
  position: relative;
  text-align: center;
  user-select: none;
  border-bottom: 1px solid @split-line-color;

  > a {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    color: @dark-alpha-3;
    width: 24px;

    &:hover {
      cursor: pointer;
      color: @dark-alpha-2;
    }

    &.@{__calendarPrefixCls}-decade-panel-prev-century-btn,
    &.@{__calendarPrefixCls}-decade-panel-next-century-btn {
      color: @normal-alpha-4;
      &:hover {
        color: @normal-alpha-4;
      }
    }
  }
}

.@{__calendarPrefixCls}-decade-panel-century {
  color: @dark-alpha-3;
}

.@{__calendarPrefixCls}-decade-panel-prev-century-btn, .@{__calendarPrefixCls}-decade-panel-next-century-btn {
  position: absolute;
  top: 5px;
  line-height: 24px;
  display: inline-block;
  border-radius: @global-border-radius;
  text-indent: -999em;
  &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        font-family: 'uxcore';
        font-size: 16px;
        text-indent: 0;
    }
}

.@{__calendarPrefixCls}-decade-panel-prev-century-btn {
  user-select: none;
  left: 10px;
  &:after {
      content: '\e65e';
  }
}

.@{__calendarPrefixCls}-decade-panel-next-century-btn {
  user-select: none;
  right: 10px;
  &:after {
      content: '\e65f';
  }
}
.@{__calendarPrefixCls}-decade-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 255px;
  border-collapse: separate;
}

.@{__calendarPrefixCls}-decade-panel-cell {
  text-align: center;
}

.@{__calendarPrefixCls}-decade-panel-decade {
  display: block;
  margin: 0 auto;
  color: @dark-alpha-3;
  border-radius: @global-border-radius;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;

  &:hover {
    background: @brand-primary-alpha-7;
    color: @dark-alpha-3;
    cursor: pointer;
  }
}

.@{__calendarPrefixCls}-decade-panel-selected-cell .@{__calendarPrefixCls}-decade-panel-decade {
  background: @brand-primary;
  color: #fff;

}

.@{__calendarPrefixCls}-decade-panel-last-century-cell, .@{__calendarPrefixCls}-decade-panel-next-century-cell {
  .@{__calendarPrefixCls}-decade-panel-decade{
    user-select: none;
    -webkit-user-select: none;
  }
  // color: @normal-alpha-4;
  .@{__calendarPrefixCls}-decade-panel-decade {
    position: relative;
    &:before {
      content: '\e645';
      background: #fff;
      width: 100%;
      position: absolute;
      left: 0;
      font-family: 'kuma' !important;
    }
  }
}
