.@{__calendarPrefixCls}-full-time-panel {
  &-column-header {
    height: 30px;
    padding: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 18px;
    border-bottom: 1px solid #e8ebee;
    border-right: 1px solid #e8ebee;
    &:first-child {
      width: 61px;
    }
    .header-date {
      padding-right: 5px;
    }
    &.@{__calendarPrefixCls}-full-time-panel-today {
      color: @brand-primary;
    }
  }
  &-timeline {
    float: left;
    margin-top: 34px;
    width: 60px;
    vertical-align: bottom;
    font-size: 12px;
    border-top: 1px solid #e8ebee;
    color: rgba(0, 0, 0, 0.6);
    .@{__calendarPrefixCls}-full-time-panel-timeline-cell {
      height: 48px;
      line-height: 48px;
      position: relative;
    }
  }
  &-timeline-now {
    color: @brand-primary;
  }
  &-time-cell {
    height: 0;
    padding: 8px;
    border-bottom: 1px solid #e8ebee;
    border-right: 1px solid #e8ebee;
    &:hover {
      background-color: @brand-primary-alpha-7;
    }
  }
  &-time-disabled-cell {
    cursor: not-allowed;
    color: @text-disabled-color;
    background-color: @bg-disabled-color;
    &:hover {
      background-color: @bg-disabled-color;
      color: @text-disabled-color;
    }
  }
  &-time-panel {
    width: 61px;
    border-right: 1px solid #e8ebee;
    vertical-align: bottom;
    line-height: 0;
  }
  &-table {
    border-left: 1px solid #e8ebee;
    border-bottom: 1px solid #e8ebee;
  }
}