.@{calendarPrefixCls}-month-panel {
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.@{calendarPrefixCls}-month-panel-hidden {
  display: none;
}

.@{calendarPrefixCls}-month-panel-header {
  padding: 0 10px;
  height: 40px;
  background-color: @brand-primary;
  color: white;
  line-height: 40px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;

  > a {
    font-weight: bold;
    display: inline-block;
    color: white;
    text-align: center;
    width: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}

.@{calendarPrefixCls}-month-panel-prev-year-btn, .@{calendarPrefixCls}-month-panel-next-year-btn {
  position: absolute;
  top: 9px;
  line-height: 24px;
  width: 24px;
  padding: 0px;
  border-radius: @global-border-radius;
  text-indent: 999em;
  
  &:hover {
    color: white;
    background: @calendar-header-hover-bg;
  }
  
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        font-family: 'kuma';
        font-size: 20px;
        text-indent: 0;
    }
}

.@{calendarPrefixCls}-month-panel-prev-year-btn {
  user-select: none;
  left: 10px;
  &:after {
      content: '\e616';
  }
}
.@{calendarPrefixCls}-month-panel-next-year-btn {
  user-select: none;
  right: 10px;
  &:after {
      content: '\e615';
  }
}

.@{calendarPrefixCls}-month-panel .@{calendarPrefixCls}-month-panel-year-select {
  width: 180px;
  &:hover {
    color: white;
  }
}

.@{calendarPrefixCls}-month-panel-year-select-content {
  display: inline-block;
  line-height: 24px;
  padding: 0 8px;
  border-radius: @global-border-radius;
  &:hover {
    background: @calendar-header-hover-bg;
  }
}

.@{calendarPrefixCls}-month-panel-year-select-arrow {
  display: none;
}

.@{calendarPrefixCls}-month-panel-body {
  padding: 9px 10px 10px;
}

.@{calendarPrefixCls}-month-panel-table {
  table-layout: fixed;
  width: 100%;
  height:255px;
  border-collapse: separate;
}

.@{calendarPrefixCls}-month-panel-cell {
  text-align: center;



  .@{calendarPrefixCls}-month-panel-month {
    display: block;
    width: 46px;
    margin: 0 auto;
    color: @text-secondary-color;
    border-radius: 23px;
    height: 46px;
    padding: 0;
    background: transparent;
    line-height: 46px;
    text-align: center;

    &:hover {
      background: @brand-primary-lighter;
      cursor: pointer;
    }
  }

  &-disabled{
    .@{calendarPrefixCls}-month-panel-month {
      color: #bfbfbf;

      &:hover {
        background: white;
        cursor: not-allowed;
      }
    }
  }
}



.@{calendarPrefixCls}-month-panel-selected-cell .@{calendarPrefixCls}-month-panel-month {
  background: @brand-primary;
  color: #fff;
  &:hover {
    background: @brand-primary;
  }
}
