.@{calendarPrefixCls} {
  a {
    text-decoration: none;
  }
  &-input-wrap {
    position: relative;
    padding: 5px 10px;
    border-bottom: 1px solid #e9e9e9;
    &:after {
      content: '';
      clear: both;
    }
  }

  &-date-input-wrap {
    overflow: hidden;
  }

  &-time-picker {
    position: absolute;
    width: 100%;
    top: 40px;
    background-color: white;
    height: 217px;
    &-panel {
      width: 100%;
      position: relative;
      .@{timePickerClass}-panel {
        &-input-wrap {
          display: none;
        }
        &-inner {
          border: none;
          box-shadow: none;
        }
        &-select {
          width: 101px;
          ul {
            max-height: 217px;
          }
          li {
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  &-time-picker-wrap {
    float: left;
    width: 100%;

    .@{timePickerClass} {
      width: 100%;

      &-input {
        padding: 0;
        border: 1px solid transparent;
        outline: 0;;
        height:22px;
      }

      &-icon {
        display: none;
      }
    }
  }

  &-input {
    border: 1px solid transparent;
    width: 100%;
    color: #666;
    cursor: text;
    line-height: 1.5;
    outline: 0;
    height: 23px;

    &-invalid {
      border-color: red;
    }
  }

  &-clear-btn {
    z-index: 9999;
    position: absolute;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 6px;
    margin: 0;
  }

  &-clear-btn:after {
    content: "x";
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
  }

  &-clear-btn:hover:after {
    color: #666;
  }
}

.@{calendarPrefixCls}-year-calendar-container {
  .@{calendarPrefixCls}-year-panel {
    position: relative;
  }
}

@keyframes slideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.8);
    }

    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1);
    }
}

@keyframes slideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.8);
    }
}


@keyframes slideDownIn {
    0% {
        opacity: 0;
        transform-origin: 100% 100%;
        transform: scaleY(.8);
    }

    100% {
        opacity: 1;
        transform-origin: 100% 100%;
        transform: scaleY(1);
    }
}

@keyframes slideDownOut {
    0% {
        opacity: 1;
        transform-origin: 100% 100%;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform-origin: 100% 100%;
        transform: scaleY(.8);
    }
}

.@{calendarPrefixCls}-picker-placement-bottomLeft {
  &.slideUp-enter,
  &.slideUp-appear {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(.8);
    animation-timing-function: ease;
    animation-duration: .3s;
  }
  &.slideUp-enter-active,
  &.slideUp-appear-active {
    visibility: visible;
    animation-name: slideUpIn;
  }
  &.slideUp-leave {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
    animation-timing-function: ease;
    animation-duration: .3s;
  }
  &.slideUp-leave-active {
    visibility: visible;
    animation-name: slideUpOut;
  }
}

.@{calendarPrefixCls}-picker-placement-topLeft {
  &.slideUp-enter,
  &.slideUp-appear {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(.8);
    animation-timing-function: ease;
    animation-duration: .3s;
  }
  &.slideUp-enter-active,
  &.slideUp-appear-active {
    visibility: visible;
    animation-name: slideDownIn;
  }
  &.slideUp-leave {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
    animation-timing-function: ease;
    animation-duration: .3s;
  }
  &.slideUp-leave-active {
    visibility: visible;
    animation-name: slideDownOut;
  }
}

.@{calendarPrefixCls}-picker-input {
  position: relative;
  display: inline-block;
  width: 100%;
  .kuma-input[readonly] {
    background-color: white;
  }
  .kuma-input[disabled] {
    background-color: @bg-disabled-color;
  }
  .kuma-icon-calender {
    position: absolute;
    color: @text-thirdary-color;
    top: 7px;
    right: 10px;
  }
}