.@{__calendarPrefixCls} {
  a {
    text-decoration: none;
  }
  &-input-wrap {
    position: relative;
    height: @trigger-height-large - 1;
    border-bottom: 1px solid @split-line-color;
    &:after {
      content: '';
      clear: both;
    }
  }
  &-date-input-wrap {
    overflow: hidden;
    height: 100%;
  }
  &-time-picker {
    display: inline-block;
    height: 340px;
    background-color: white;
    &-panel {
      width: 100%;
      position: relative;
      .@{__calendarTimePickerPrefixCls}-panel {
        &-input-wrap {
          display: none;
        }
        &-inner {
          border: none;
          box-shadow: none;
          border-left: 1px solid @split-line-color;
        }
        &-select {
          width: 60px;
          height: 300px;
          ul {
            max-height: 217px;
          }
          li {
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  &-time-picker-wrap {
    float: left;
    width: 100%;
    .@{__calendarTimePickerPrefixCls} {
      width: 100%;
      &-input {
        padding: 0;
        border: 1px solid transparent;
        outline: 0;
        ;
        height: 22px;
      }
      &-icon {
        display: none;
      }
    }
  }
  &-input {
    border: 1px solid transparent;
    padding: 5px 12px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: @dark-alpha-2;
    cursor: text;
    line-height: 1.5;
    outline: 0;
    &-invalid {
      border-color: red;
    }
  }
  &-clear-btn {
    z-index: 9999;
    position: absolute;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 6px;
    margin: 0;
  }
  &-clear-btn:after {
    content: "x";
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
  }
  &-clear-btn:hover:after {
    color: #666;
  }
}

.@{__calendarPrefixCls}-year-calendar-container {
  .@{__calendarPrefixCls}-year-panel {
    position: relative;
  }
}

@keyframes calendarSlideInDown {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes calendarSlideOutDown {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
  }
}

@keyframes calendarSlideInUp {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes calendarSlideOutUp {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -10px);
  }
}

.@{__calendarPrefixCls}-picker-placement-bottomLeft {
  &.calendarSlideUp-enter,
  &.calendarSlideUp-appear {
    opacity: 0;
    transform: translate(0, 10px);
    animation-timing-function: ease-out;
    animation-duration: .3s;
  }
  &.calendarSlideUp-enter-active,
  &.calendarSlideUp-appear-active {
    visibility: visible;
    animation-name: calendarSlideInDown;
  }
  &.calendarSlideUp-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s;
  }
  &.calendarSlideUp-leave-active {
    visibility: visible;
    animation-name: calendarSlideOutDown;
  }
}

.@{__calendarPrefixCls}-picker-placement-topLeft {
  &.calendarSlideUp-enter,
  &.calendarSlideUp-appear {
    opacity: 0;
    transform: translate(0, -10px);
    animation-timing-function: ease-out;
    animation-duration: .3s;
  }
  &.calendarSlideUp-enter-active,
  &.calendarSlideUp-appear-active {
    visibility: visible;
    animation-name: calendarSlideInUp;
  }
  &.calendarSlideUp-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s;
  }
  &.calendarSlideUp-leave-active {
    visibility: visible;
    animation-name: calendarSlideOutUp;
  }
}

.@{__calendarPrefixCls}-picker-input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 80px;

  .kuma-input{
    padding-right: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .kuma-input[readonly] {
    background-color: white;
    border-color: @border-color;
    color: @dark-2;
    &:hover {
      border-color: @border-hover-color;
    }
    &:focus {
      border-color: @border-focus-color;
    }
  }
  .kuma-input[disabled] {
    cursor: not-allowed;
    color: @text-disabled-color;
    background-color: @bg-disabled-color;
  }
  .@{__calendarPrefixCls}-trigger-icon,
  .kuma-icon-close {
    position: absolute;
    color: @normal-alpha-4;
    top: (@trigger-height-large - 24) / 2;
    right: 10px;
    transition: color .3s ease, opacity .15s ease;
  }
  .kuma-icon-close {
    opacity: 0;
    cursor: pointer;
  }
  &:hover {
    .kuma-icon-close {
      opacity: 1;
    }
    .@{__calendarPrefixCls}-trigger-icon__has-clear {
      opacity: 0;
    }
  }
}

.@{__calendarPrefixCls}-picker-input-middle {
  .@{__calendarPrefixCls}-trigger-icon,
  .kuma-icon-close {
    top: (@trigger-height-middle - 24) / 2;
  }
}

.@{__calendarPrefixCls}-middle {
  .@{__calendarPrefixCls}-input-wrap {
    height: @trigger-height-middle - 1;
  }
  .@{__calendarPrefixCls}-time-picker {
    height: 316px;
  }
  .@{__calendarPrefixCls}-time-picker-panel {
    .kuma-time-picker-panel-select {
      height: 316 - @trigger-height-middle;
    }
  }
}

.@{__calendarPrefixCls}-picker-input-small {
  .@{__calendarPrefixCls}-trigger-icon,
  .kuma-icon-close {
    top: (@trigger-height-small - 24) / 2;
  }
}

.@{__calendarPrefixCls}-small {
  .@{__calendarPrefixCls}-input-wrap {
    height: @trigger-height-small - 1;
  }
  .@{__calendarPrefixCls}-time-picker {
    height: 300px;
  }
  .@{__calendarPrefixCls}-time-picker-panel {
    .kuma-time-picker-panel-select {
      height: 300 - @trigger-height-small;
    }
  }
}

.date-picker-dropdown-offset-small {
  padding-top: 27px;
}

.date-picker-dropdown-offset-middle {
  padding-top: 31px;
}

.date-picker-dropdown-offset-large {
  padding-top: 35px;
}
