.@{__calendarPrefixCls}-full {
  * {
    box-sizing: border-box;
  }

  position: relative;
  outline: none;
  width: 100%;
  min-width: 330px;
  overflow: hidden;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;

  .today-btn {
    padding: 0 6px;

    .forward {
      display: inline-block;
      padding-right: 8px;
      font-size: 14px;

      &.uxicon-zhixiang-qianjin::before {
        content: "\e731";
      }
    }

    &.super-mini {
      .forward {
        padding-right: 0;
      }
    }
  }

  .cell-container {
    position: absolute;
  }

  .events-wrapper {
    position: absolute;
    top: 32px;
    left: 61px;
    width: ~"calc(100% - 61px)";
    height: ~"calc(100% - 32px)";

    &.events-day-wrapper,
    &.events-week-wrapper {
      .kuma-calendar-content-box {
        .kuma-calendar-content-detail {
          overflow: auto;
          text-overflow: inherit;
          white-space: pre-wrap;

          div,
          p,
          ul,
          li {
            white-space: pre-wrap;
          }

          div {
            height: auto;
          }
        }
      }
    }
  }

  &-date {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8px;
    left: 8px;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    cursor: pointer;
  }

  .events-month-wrapper {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    height: ~"calc(100% - 32px)";

    .cell-container {
      position: absolute;
      overflow-y: scroll;

      .kuma-calendar-content-box {
        position: relative;
        background: transparent;
        border: none;
        border-radius: 0;
        top: 0 !important;
        width: 100%;
        height: 20px !important;
        max-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 2px 2px 2px;
      }
    }

    .colspan-cell {
      //z-index: 99;

      .kuma-calendar-content-box {
        width: 100%;
        border-radius: 3px;
        margin-bottom: 3px;
        padding: 0;
        background: #fff; // color: #fff;

        &::before {
          display: none;
        }
      }
    }

    .more-event {
      position: absolute;
      bottom: 0;
      margin-top: 4px;
      text-align: center;
      cursor: pointer;
      color: rgba(31, 56, 88, 0.3)
    }

    .more-icon {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 6px;
      border-top: 4px solid transparent;
      border-left: 4px solid rgba(31, 56, 88, 0.3);
      border-bottom: 4px solid transparent;
    }
  }

  .super-mini {
    .more-event {
      top: 3px;

      &.important {
        top: 0;
      }
    }

    .hot-icon {
      position: absolute;
      top: 2px;
      left: 50%;
      width: 5px;
      height: 5px;
      margin-left: -3px;
      border-radius: 5px;
      background: @brand-primary;

      &.today {
        background: #fff;
      }
    }

    .@{__calendarPrefixCls}-full-column-header {
      border-right: none;
    }

    .@{__calendarPrefixCls}-full-cell {
      border: none;
    }

    .@{__calendarPrefixCls}-full-date {
      padding-top: 25%;
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      text-align: center;
    }

    .@{__calendarPrefixCls}-full-today {
      .@{__calendarPrefixCls}-full-date {
        background: @brand-primary-alpha-7;
        color: @brand-primary;
        max-width: none;
        max-height: none;
      }
    }

    .@{__calendarPrefixCls}-full-selected-day {
      background-color: transparent;

      .@{__calendarPrefixCls}-full-date {
        background: @brand-primary;
        color: #fff;
      }
    }
  }

  &-calendar-body {
    position: relative;
    border-top: 1px solid #e8ebee;
  }

  .kuma-calendar-content-box {
    position: absolute;
    background: #fff;
    border-radius: 5px;

    .kuma-calendar-content-wraper {
      background: @brand-primary-alpha-7;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      overflow: hidden;

      &.hover,
      &:hover {
        cursor: pointer;
        background-color: @brand-primary-alpha-5;
        opacity: 0.8;
      }

      .kuma-calendar-content-detail {
        padding-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
        border-left: 3px solid @brand-primary;

        div {
          display: inline-block;
          border: none;
        }
      }
    }

    &.red-important {
      .kuma-calendar-content-wraper {
        .kuma-calendar-content-detail {
          border-left: 3px solid #F04631;
        }
      }
    }
  }

  &-date-select {
    width: 200px;
    position: relative;
    display: inline-block;
  }

  &-show-input[readonly] {
    position: absolute;
    background: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  .kuma-calendar-picker-input {
    opacity: 0;
  }

  &-prev-btn,
  &-next-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    color: rgba(31, 56, 88, 0.4);
    width: 24px;
    height: 24px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    top: 5px;
    z-index: 99;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      font-family: "uxcore";
      font-size: 16px;
      text-indent: 0;
    }
  }

  &-prev-btn {
    left: 0;

    &:after {
      content: "\e65c";
    }
  }

  &-next-btn {
    right: 0;

    &:after {
      content: "\e65b";
    }
  }

  &-header {
    padding: 3px 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;

    .kuma-button {
      float: left;
    }

    &-month-select,
    &-year-select {
      float: right;
      margin-right: 5px;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      color: #666;
      line-height: 28px;
      width: 70px;
    }

    .select-switcher {
      float: right;
      width: 50px;
    }

    &-switcher {
      float: right;
      display: inline-block;

      &-normal:hover {
        background-color: @brand-primary-alpha-7;
        cursor: pointer;
      }

      >span {
        float: left;
        height: 28px;
        line-height: 24px;
        border: 1px solid #d9d9d9;
        padding: 0 10px;
        color: #666;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: none;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-left: none;
        }
      }
    }

    .@{__calendarPrefixCls}-full-header-switcher-focus {
      position: relative;
      background-color: @brand-primary-alpha-7;
      color: @brand-primary;
      border: 1px solid @brand-primary;

      &.@{__calendarPrefixCls}-full-header-switcher-time {
        right: -1px;
        border-right: 1px solid @brand-primary;
      }

      &.@{__calendarPrefixCls}-full-header-switcher-date {
        border-left: 1px solid @brand-primary;
        left: -1px;
      }
    }
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    table-layout: fixed;
  }

  &-cell {
    position: relative;
    height: 0;
    padding-bottom: calc(100%/7);
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0;
    vertical-align: top;
    border-bottom: 1px solid #e8ebee;
    border-right: 1px solid #e8ebee;

    &:hover {
      background-color: @brand-primary-alpha-7;
      color: @brand-primary;
    }

    &.@{__calendarPrefixCls}-full-last-month-cell,
    &.@{__calendarPrefixCls}-full-next-month-btn-day {
      color: rgba(31, 56, 88, 0.3);
    }

    &.@{__calendarPrefixCls}-full-selected-day {
      background-color: @brand-primary-alpha-7;
      color: @brand-primary;
    }

    &.@{__calendarPrefixCls}-full-disabled-cell {
      cursor: not-allowed;
      color: @text-disabled-color;
      background-color: @bg-disabled-color;

      &:hover {
        // border-color: #ff6f00;
        background-color: @bg-disabled-color;
        color: @text-disabled-color;
      }
    }
  }

  &-today {
    .@{__calendarPrefixCls}-full-date {
      width: 21%;
      height: 21%;
      max-width: 25px;
      max-height: 25px;
      min-width: 18px;
      min-height: 18px;
      background: @brand-primary;
      border-radius: 3px;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-month-panel-table {
    table-layout: fixed;
    height: 100%;
    width: 100%;
    border-collapse: separate;
  }

  &-month-panel-cell {
    text-align: center;

    &-month-panel-month {
      display: block;
      width: 46px;
      margin: 0 auto;
      color: #666;
      border-radius: 4px 4px;
      height: 36px;
      padding: 0;
      background: transparent;
      line-height: 36px;
      text-align: center;
    }
  }

  &-column-header {
    height: 32px;
    padding: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 18px;
    border-bottom: 1px solid #e8ebee;
    border-right: 1px solid #e8ebee;
  }

  .kuma-input {
    cursor: pointer;
    border: none !important;
  }

  .import-event {
    display: inline-block;
    color: #F04631;
    font-size: 12px;
    vertical-align: top;
  }
}
