.@{__calendarPrefixCls} {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.@{__calendarPrefixCls}-hidden {
  display: none;
}

@import "MiniWeek.less";
@import "Calendar.less";
@import "Picker.less";
@import "FullCalendar.less";
@import "RangeCalendar.less";