@input-box-height-large: @trigger-height-large - 1;
@input-box-height-middle: @trigger-height-middle - 1;
@input-box-height-small: @trigger-height-small - 1;

.@{__calendarPrefixCls}-range {
  overflow: hidden;
  &-part {
    position: relative;
    // float: left;
    display: inline-block;
    .@{__calendarPrefixCls}-time-picker {
      top: 69px;
      &-panel {
        &-select {
          width: 77px;
        }
      }
    }
  }
  .@{__calendarPrefixCls}-panel {
    .@{__calendarPrefixCls}-date-panel {
      width: auto;
      white-space: nowrap;
    }
  }
  &-middle {
    position: absolute;
    margin-left: -10px;
    text-align: center;
    height: @input-box-height-large;
    line-height: @input-box-height-large;
  }
  .@{__calendarPrefixCls}-date-panel::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .@{__calendarPrefixCls}-input-wrap {
    height: @input-box-height-large;
  }
  .@{__calendarPrefixCls}-input,
  .@{__calendarTimePickerPrefixCls}-input {
    padding: 1px 7px;
    height: 100%;
  }
  .@{__calendarPrefixCls}-body,
  .@{__calendarPrefixCls}-decade-panel-body,
  .@{__calendarPrefixCls}-year-panel-body,
  .@{__calendarPrefixCls}-month-panel-body {
    border-bottom: 1px solid #e9e9e9;
  }
  &.@{__calendarPrefixCls}-week-number {
    width: 574px;
    .@{__calendarPrefixCls}-range {
      &-part {
        width: 286px;
        .@{__calendarPrefixCls}-time-picker {
          top: 69px;
          &-panel {
            &-select {
              width: 89px;
            }
          }
        }
      }
      &-right {
        .@{__calendarPrefixCls}-time-picker-panel {
          left: 36px;
        }
      }
    }
  }
  .@{__calendarPrefixCls}-year-panel,
  .@{__calendarPrefixCls}-month-panel {
    top: @input-box-height-large;
  }
  .@{__calendarPrefixCls}-month-panel .@{__calendarPrefixCls}-year-panel {
    top: 0;
  }
  .@{__calendarPrefixCls}-decade-panel-table,
  .@{__calendarPrefixCls}-year-panel-table,
  .@{__calendarPrefixCls}-month-panel-table {
    height: 198px;
  }
  .@{__calendarPrefixCls}-in-range-cell {
    position: relative;
    &:before {
      content: "";
      display: block;
      background: #ecf6fd;
      border-radius: 0;
      border: 0;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 0;
      right: 0;
      background: @brand-primary-alpha-7;
    }
    .@{__calendarPrefixCls}-date {
      position: relative;
      z-index: 1;
    }
  }
  &-bottom {
    text-align: right;
  }
  .@{__calendarPrefixCls}-footer {
    display: none;
    border-top: none;
    padding: 0;
    &-btn {
      padding: 10px 12px 10px 0;
    }
  }
}

.@{__calendarPrefixCls}-small {
  &.@{__calendarPrefixCls}-range {
    .@{__calendarPrefixCls}-input-wrap {
      height: @input-box-height-small;
    }
  }
}

.@{__calendarPrefixCls}-middle {
  &.@{__calendarPrefixCls}-range {
    .@{__calendarPrefixCls}-input-wrap {
      height: @input-box-height-middle;
    }
  }
}