/**
 * Calendar Component Demo Style for Uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/kuma-base/theme/green.less";
@import "../node_modules/kuma-base/core.less";
@import "../src/Calendar.less";
.panel-demo {
  display: inline-block;
}

.kuma-calendar-mini-week,
.miniweek-container {
  margin-top: 20px;
  .schedule-container {
    border: 1px solid @brand-primary-alpha-7;
    width: 90%;
    margin: 8px auto;
    padding: 5px 10px;
    text-align: left;
    div {
      padding-left: 8px;
      margin-top: 8px;
      border-left: 2px solid @brand-primary;
      border-radius: 3px;
    }
  }
}