/**
 * Calendar Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
.kuma-calendar-hidden {
  display: none;
}
.kuma-calendar-picker .kuma-calendar,
.kuma-calendar-picker-container .kuma-calendar {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
}
.kuma-calendar-picker {
  position: relative;
}
.kuma-calendar-picker > input {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
}
.kuma-calendar-picker > input[disabled] {
  cursor: not-allowed;
}
.kuma-calendar-picker > .kuma-icon {
  position: absolute;
  right: 8px;
  top: 1px;
}
.kuma-calendar-picker-open > input {
  border-color: #288df0 !important;
}
.kuma-calendar {
  position: relative;
  outline: none;
  width: 212px;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 1px 5px #cccccc;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  line-height: 1.5;
}
.kuma-calendar a:hover {
  text-decoration: none;
}
.kuma-calendar-week-number {
  width: 286px;
}
.kuma-calendar-week-number-cell {
  text-align: center;
}
.kuma-calendar-header {
  padding: 0 10px;
  height: 30px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #cccccc;
}
.kuma-calendar-header > a {
  display: inline-block;
  padding: 0px 5px;
  width: 30px;
  line-height: 29px;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  color: #666666;
}
.kuma-calendar-header > a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #ff6600;
}
.kuma-calendar-header .kuma-calendar-prev-month-btn {
  position: absolute;
  left: 25px;
}
.kuma-calendar-header .kuma-calendar-next-month-btn {
  position: absolute;
  right: 25px;
}
.kuma-calendar-year-select,
.kuma-calendar-month-select {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  padding: 0 5px;
  line-height: 30px;
}
.kuma-calendar-year-select:hover,
.kuma-calendar-month-select:hover {
  cursor: pointer;
  color: #ff6600;
}
.kuma-calendar-prev-month-btn,
.kuma-calendar-next-month-btn,
.kuma-calendar-prev-year-btn,
.kuma-calendar-next-year-btn {
  position: absolute;
  top: 0;
}
.kuma-calendar-next-year-btn {
  right: 0;
}
.kuma-calendar-prev-year-btn {
  left: 0;
}
.kuma-calendar-calendar-body {
  padding: 0;
}
.kuma-calendar table {
  table-layout: fixed;
  width: 100%;
}
.kuma-calendar table th,
.kuma-calendar table td {
  max-width: 30px;
  height: 26px;
}
.kuma-calendar-column-header {
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.kuma-calendar-column-header .kuma-calendar-column-header-inner {
  display: block;
  font-weight: normal;
}
.kuma-calendar-week-number-header .kuma-calendar-column-header-inner {
  display: none;
}
.kuma-calendar-date {
  display: block;
  color: #666666;
  line-height: 26px;
  text-align: center;
}
.kuma-calendar-date:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.kuma-calendar-selected-day .kuma-calendar-date {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-selected-day .kuma-calendar-date:hover {
  background: #ff9900;
}
.kuma-calendar-today .kuma-calendar-date {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.kuma-calendar-disabled-cell .kuma-calendar-date {
  cursor: not-allowed;
  color: #999999;
  background: #f2f2f2;
}
.kuma-calendar-disabled-cell .kuma-calendar-date:hover {
  background: #f2f2f2;
}
.kuma-calendar-last-month-cell .kuma-calendar-date,
.kuma-calendar-next-month-btn-day .kuma-calendar-date {
  color: #bbbbbb;
}
.kuma-calendar-footer {
  border-top: 1px solid #cccccc;
  text-align: center;
}
.kuma-calendar-footer-btn {
  margin-top: 2px;
}
.kuma-calendar-today-btn,
.kuma-calendar-clear-btn,
.kuma-calendar-ok-btn {
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  color: #666666;
}
.kuma-calendar-today-btn:hover,
.kuma-calendar-clear-btn:hover,
.kuma-calendar-ok-btn:hover {
  cursor: pointer;
  color: #ff6600;
}
.kuma-calendar-today-btn-disabled,
.kuma-calendar-clear-btn-disabled,
.kuma-calendar-ok-btn-disabled {
  color: #bbbbbb;
}
.kuma-calendar-today-btn-disabled:hover,
.kuma-calendar-clear-btn-disabled:hover,
.kuma-calendar-ok-btn-disabled:hover {
  color: #bbbbbb;
}
.kuma-calendar-today-btn {
  padding-left: 10px;
}
.kuma-calendar-time-input {
  height: 24px;
  width: 40px;
  position: relative;
  display: inline-block;
  margin: 0 0;
  padding: 4px 10px;
  border: 1px solid #cccccc;
  color: #666666;
  line-height: 1.5;
  box-sizing: border-box;
}
.kuma-calendar-time-input:hover {
  border-color: #ff9900;
}
.kuma-calendar-time-input:focus {
  border-color: #ff9900;
}
.kuma-calendar-time-panel,
.kuma-calendar-month-panel,
.kuma-calendar-year-panel,
.kuma-calendar-decade-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}
.kuma-calendar-time-panel-hidden,
.kuma-calendar-month-panel-hidden,
.kuma-calendar-year-panel-hidden,
.kuma-calendar-decade-panel-hidden {
  display: none;
}
.kuma-calendar-time-panel-header,
.kuma-calendar-month-panel-header,
.kuma-calendar-year-panel-header,
.kuma-calendar-decade-panel-header {
  padding: 0 10px;
  height: 30px;
  line-height: 29px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #cccccc;
}
.kuma-calendar-time-panel-header > a,
.kuma-calendar-month-panel-header > a,
.kuma-calendar-year-panel-header > a,
.kuma-calendar-decade-panel-header > a {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  color: #666666;
}
.kuma-calendar-time-panel-header > a:hover,
.kuma-calendar-month-panel-header > a:hover,
.kuma-calendar-year-panel-header > a:hover,
.kuma-calendar-decade-panel-header > a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #ff6600;
}
.kuma-calendar-time-panel-table,
.kuma-calendar-month-panel-table,
.kuma-calendar-year-panel-table,
.kuma-calendar-decade-panel-table {
  height: 210px;
}
.kuma-calendar-time-panel-cell,
.kuma-calendar-month-panel-cell,
.kuma-calendar-year-panel-cell,
.kuma-calendar-decade-panel-cell {
  text-align: center;
}
.kuma-calendar-time-panel-title {
  width: 120px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
.kuma-calendar-time-panel-time {
  line-height: 26px;
  display: block;
  width: 20px;
  margin: 0 auto;
  color: #666666;
}
.kuma-calendar-time-panel-time:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.kuma-calendar-time-panel-selected-cell .kuma-calendar-time-panel-time {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-time-panel-selected-cell .kuma-calendar-time-panel-time:hover {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-month-panel-prev-year-btn,
.kuma-calendar-month-panel-next-year-btn {
  position: absolute;
  top: 0;
}
.kuma-calendar-month-panel-prev-year-btn {
  user-select: none;
  left: 0;
}
.kuma-calendar-month-panel .kuma-calendar-month-panel-year-select {
  width: 120px;
  font-size: 12px;
}
.kuma-calendar-month-panel-year-select-arrow {
  display: none;
}
.kuma-calendar-month-panel-next-year-btn {
  user-select: none;
  right: 0;
}
.kuma-calendar-month-panel-cell .kuma-calendar-month-panel-month {
  display: block;
  margin: 0 auto;
  color: #666666;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.kuma-calendar-month-panel-cell .kuma-calendar-month-panel-month:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.kuma-calendar-month-panel-disabled .kuma-calendar-month-panel-month {
  color: #bbbbbb;
}
.kuma-calendar-month-panel-disabled .kuma-calendar-month-panel-month:hover {
  background: #ffffff;
  cursor: not-allowed;
}
.kuma-calendar-month-panel-selected-cell .kuma-calendar-month-panel-month {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-month-panel-selected-cell .kuma-calendar-month-panel-month:hover {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-year-panel-prev-decade-btn,
.kuma-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}
.kuma-calendar-year-panel-prev-decade-btn {
  user-select: none;
  left: 0;
}
.kuma-calendar-year-panel .kuma-calendar-year-panel-decade-select {
  width: 120px;
  font-size: 12px;
}
.kuma-calendar-year-panel-decade-select-arrow {
  display: none;
}
.kuma-calendar-year-panel-next-decade-btn {
  user-select: none;
  right: 0;
}
.kuma-calendar-year-panel-year {
  display: block;
  margin: 0 auto;
  color: #666666;
  padding: 0;
  line-height: 36px;
  text-align: center;
}
.kuma-calendar-year-panel-year:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.kuma-calendar-year-panel-selected-cell .kuma-calendar-year-panel-year {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-year-panel-selected-cell .kuma-calendar-year-panel-year:hover {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-year-panel-last-decade-cell .kuma-calendar-year-panel-year:before,
.kuma-calendar-year-panel-next-decade-cell .kuma-calendar-year-panel-year:before {
  content: "\e645";
  font-family: kuma!important;
  font-size: 14px;
}
.kuma-calendar-decade-panel-prev-century-btn,
.kuma-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}
.kuma-calendar-decade-panel-prev-century-btn {
  user-select: none;
  left: 0;
}
.kuma-calendar-decade-panel-next-century-btn {
  user-select: none;
  right: 0;
}
.kuma-calendar-decade-panel-century {
  line-height: 29px;
  font-size: 12px;
}
.kuma-calendar-decade-panel-decade {
  display: block;
  margin: 0 auto;
  color: #666666;
  padding: 0;
  line-height: 36px;
  text-align: center;
}
.kuma-calendar-decade-panel-decade:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.kuma-calendar-decade-panel-selected-cell .kuma-calendar-decade-panel-decade {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-decade-panel-selected-cell .kuma-calendar-decade-panel-decade:hover {
  background: #ff9900;
  color: #ffffff;
}
.kuma-calendar-decade-panel-last-century-cell .kuma-calendar-decade-panel-decade:before,
.kuma-calendar-decade-panel-next-century-cell .kuma-calendar-decade-panel-decade:before {
  content: "\e645";
  font-family: kuma!important;
  font-size: 14px;
}

/*# sourceMappingURL=Calendar.css.map */